/* Global Variables */
:root {
  /* Colors */
  --clr-dark: #22211f;
  --clr-light: #fff;
  --clr-accent: #E4595C;
  /* Font Family */
  --ff-main: "Poppins", sans-serif;
  --ff-accent: "Bree Serif", serif;
  /* Font Weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* General Styling */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: var(--clr-dark);
  font-family: var(--ff-main);
  line-height: 1.6;
  background: #0F0704;
}

section {
  padding: 1em;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flow-content > * + * {
  margin-top: var(--flow, 1rem);
}

.sr-only {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width: 40em) {
  section {
    padding: 2em;
  }
}
@media (min-width: 60em) {
  section {
    padding: 4em;
  }
}
/* Header */
header {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 1em;
  background: var(--clr-light);
  font-family: var(--ff-accent);
  line-height: 1;
}
header::after {
  content: "";
  display: block;
  background: var(--clr-accent);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.125rem;
  width: 0;
  transition: width 300ms ease;
}
header.nav-scrolled::after {
  width: 100%;
}

.logo {
  display: inline-block;
}
.logo img {
  display: block;
  max-width: 128px;
}

.primary-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}
.primary-navigation li a {
  color: var(--clr-dark);
}
.primary-navigation li a::after {
  content: "";
  display: block;
  background: var(--clr-accent);
  height: 0.125rem;
  margin-top: 0.125rem;
  width: 0;
  transition: width 250ms ease;
}
.primary-navigation li.active a::after, .primary-navigation li:hover a::after {
  width: 100%;
}

.menu-btn {
  display: none;
}

@media (max-width: 40em) {
  .primary-navigation {
    --gap: 0;
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;
    flex-direction: column;
    background: var(--clr-light);
    padding-block: 5rem;
    transform: translateX(100%);
    transition: transform 250ms ease;
    border-left: 0.25rem solid var(--clr-accent);
  }
  .primary-navigation[data-visible=true] {
    transform: translateX(0);
  }
  .primary-navigation li a {
    display: inline-block;
    padding: 0.5em 2em;
  }
  .menu-btn {
    display: block;
    z-index: 9999;
    background: url("../icons/menu.svg");
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    width: 32px;
    aspect-ratio: 1;
    cursor: pointer;
  }
  .menu-btn[aria-expanded=true] {
    background-image: url("../icons/close-menu.svg");
  }
}
@media (min-width: 40em) {
  header {
    padding: 1em 2em;
  }
  .primary-navigation {
    --gap: 2rem;
  }
}
@media (min-width: 60em) {
  header {
    padding-inline: 4em;
  }
}
/* Hero */
.hero {
  display: grid;
  align-items: center;
  min-height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  background: var(--clr-light);
  z-index: 1;
}

.hero-container {
  --flow: clamp(1rem, 0.5rem + 3vw, 2rem);
  margin: 0 auto;
}
.hero-container img {
  width: 100%;
  max-width: 50rem;
}
.hero-container h1 {
  font-size: clamp(1rem, 0.5rem + 3vw, 1.75rem);
  font-weight: var(--fw-black);
  text-align: center;
}

/* Menu */
.menu {
  background: url("../images/menu-bg.jpg");
  background-size: cover;
  background-position: center top;
}
.menu > h2 {
  text-align: center;
  color: var(--clr-light);
  font-weight: var(--fw-black);
  font-size: clamp(3rem, 0.125rem + 8vw, 5rem);
}
.menu img {
  display: block;
  margin-inline: auto;
  width: 100%;
  max-width: 60em;
}

/* Footer */
footer {
  display: grid;
  gap: 2rem;
  padding: 1em;
  background: var(--clr-light);
}
footer img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0.25rem solid var(--clr-accent);
}
footer h3 {
  font-weight: var(--fw-bold);
  font-size: clamp(1.5rem, 0.125rem + 4vw, 2rem);
}
footer p {
  position: relative;
  font-weight: var(--fw-medium);
  margin-left: 2.5rem;
  font-size: clamp(0.875rem, 0.125rem + 2vw, 1rem);
}
footer p[data-icon=ubicacion] {
  max-width: 45ch;
}
footer p::before {
  position: absolute;
  top: -0.125rem;
  left: -2.5rem;
  font-size: 1rem;
}
footer p[data-icon=email]::before {
  content: url(../icons/email.svg);
}
footer p[data-icon=telefono]::before {
  content: url(../icons/telefono.svg);
}
footer p[data-icon=ubicacion]::before {
  content: url(../icons/ubicacion.svg);
}
footer p[data-icon=horarios]::before {
  content: url(../icons/horarios.svg);
}

@media (min-width: 40em) {
  footer {
    padding: 2em;
  }
}
@media (min-width: 60em) {
  footer {
    grid-template-columns: 1fr 1fr;
    padding: 2em 4em;
  }
}/*# sourceMappingURL=style.css.map */